
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Vivaanit</title>
	<!-- Meta tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content=""
	/>

	<!-- font-awesome icons -->
	<link rel="stylesheet" href="page404/css/font-awesome.min.css" />

	<!--stylesheets-->
	<link href="page404/css/style.css" rel='stylesheet' type='text/css' media="all">
	<!--//style sheet end here-->

	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
    <style>
        .homeBtn{
            font-weight: bold;
            font-size: 18px;
            border: solid 1px #fff;
            padding: 4px;
            background: rgba(0,0,0,0.4);
        }
        .homeBtn:hover{
            color:#fff !important;
        }
    </style>

</head>

<body>

	<h1 class="error">Page Not Found</h1>
	<div class="top-w3ls">
		<h2>404</h2>
		<h3> SORRY</h3>
		<p>It looks like that page no longer exist or page not found. Would you like to go to <br> <br> <a class="homeBtn" href="/dashboard">Home Page</a>
		</p>

	
	</div>

</body>

</html>